/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/04/2017, 08:04:11 PM
    Author     : bassc
*/
#cabecera
{
    
    text-align: center; 
}

.nombre
{
    font-family: chiller;
    color: #DF0174;
    font-size: 80px;
    text-align: center;
}

.nombre1{

    font-family:Blackadder ITC ;
    color: #04B404;
    font-size: 2.5em;
    text-align: center;
}
.menu
{
    text-align: center;
}
 span ul li 
{
  list-style-type: none;
    display: inline;
    background: #FAD380;
    border-radius: 25px;
    font-size: 29px;
    font-weight: inherit;
    padding: 05px; 
    font-family: forte;
    
}
a
    {
        text-decoration: none;
     
    }
     
     a:link 
    {
        color:yellow;
    }
     a:hover 
    {
        font-size: 25px;
        color: red !important;
    }
    a:visited
    {
        color:black;
    }
    a:active
    {
        color: red;
    } 
 html
    {
        background-image: url(videos/img1.jpg);
        background-attachment:  fixed;
        
    }
    body{background-image: url(videos/img3.jpeg);
        background-attachment:  fixed;
        padding: 20px;
        margin: 100px auto;
        width: 900px;}
    
  form
    {
        /*centrando el formulario y poniendo borde*/
        font-size: 10px;
        background-color: white;
        margin: 2px auto;
        width: 800px;
        padding: 1em;
        border: 2px solid #000 ;
        border-radius: 1em;
        
    }
    for div
    {
        margin-top: 2em;
        
    }
    label
    {
        margin: 2px auto;
        display: inline-block;
        size: 100px;
        margin: 1px;
        
        text-align: right;
    }
    #jp
    {
        text-align: center;
        background: #0080FF
    }


    input
    {
        
        font:Segoe UI Light;
        width: 200px;
        
    }
    input:focus, textArea:focus{
        border-color: red;
    }
    textarea{
        size: 200px;
        font-size: 20px;
        vertical-align: top;
    }
    
    
    lol
    {
        font-size: 100px;
        text-align: left;
    }