/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/04/2017, 09:33:09 AM
    Author     : bassc
*/

#cabecera
{
    
    text-align: center; 
}

.nombre
{
    font-family: chiller;
    color: #DF0174;
    font-size: 80px;
    text-align: center;
}
.nombre1
{
    font-family:Blackadder ITC ;
    color: #DAA764;
    font-size: 2.5em;
    text-align: center;
}
.menu
{
    text-align: center;
}
ul li
{
  list-style-type: none;
    display: inline;
    background: #FAD380;
    border-radius: 25px;
    font-size: 29px;
    font-weight: inherit;
    padding: 05px; 
    font-family: forte;
    
}
a{
    text-decoration: none;
    color: #1D1DCE;
}
a:hover
{
    color:red;
    font-size: 32px;
   
}
a:visited {/* profe,no se porque cuando le coloco este estilo me acmbia el anterior*/
    color:  
}
a:active{
    color:   grey;  
}
#contenido
{
    font-family: Edwardian Script ITC;
    
}

html{
   
}


.slogan{
        font-family:Blackadder ITC ;
    color: #DF0174;
    font-size: 2.5em;
    text-align: center;
    
}
.info{
       font-family:forte;
    color: gray;
    font-size: 1em;
    text-align: center;
    
}
#pie
{
    background: #FAD380;
    text-align: center;
    font-family:arial;
}
}