/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/04/2017, 09:33:09 AM
    Author     : bassc
*/

#cabecera
{
    
    text-align: center; 
}

.nombre
{
    font-family: chiller;
    color: #DF0174;
    font-size: 80px;
    text-align: center;
}

.nombre1{

    font-family:Blackadder ITC ;
    color: #04B404;
    font-size: 2.5em;
    text-align: center;
}
.menu
{
    text-align: center;
}
 span ul li 
{
  list-style-type: none;
    display: inline;
    background: #FAD380;
    border-radius: 25px;
    font-size: 29px;
    font-weight: inherit;
    padding: 05px; 
    font-family: forte;
    
}
a
    {
        text-decoration: none;
     
    }
     
     a:link 
    {
        color:yellow;
    }
     a:hover 
    {
        font-size: 25px;
        color: red !important;
    }
    a:visited
    {
        color:black;
    }
    a:active
    {
        color: red;
    } 

#contenido
{
    font-family: Edwardian Script ITC;
    
}

html{
   
}


.slogan{
        font-family:Blackadder ITC ;
    color: #DF0174;
    font-size: 2.5em;
    text-align: center;
    
}
.info{
       font-family:forte;
    color: #2E2E2E;
    font-size: 1em;
    text-align: center;
    
}

 
    html
    {
        background-image: url(videos/img1.jpg);
        background-attachment:  fixed;
        
    }
    body{background-image: url(videos/img3.jpeg);
        background-attachment:  fixed;
        padding: 20px;
        margin: 100px auto;
        width: 900px;}
    
  #pie
{
    background: #FAD380;
    text-align: center;
    font-family:arial;
}
    
    
    
    .suc1{
        float: left;
        font-family: forte;
        color: black;
        margin: 1em 1em 1em 3em ;
         background-color: #FAD380;
       padding: 10px;
       border-radius: 50px;
     
    }
    .suc2{
        float: left;
        font-family: forte;
        color: black;
        margin: 1em  ;
       background-color: #FAD380;
       padding: 10px;
       border-radius: 50px;
      
         
       
    }
    .suc3{
        float: left;
        font-family: forte;
        color: black;
        margin: 1em 2em;
       background-color: #FAD380;
       padding: 10px;
       border-radius: 50px;
      
         
       
    }
    .cajavideo{
    position: absolute;
    display: inline;
    color: #585858;
    font-size: 1.6em;
    padding: 10px 2px 1px 20px; 
    font-family: forte;
    text-align: center;
        
    }
     